
table{
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
	display: inline-block;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
	
}
table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;

}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
	
}

th[scope="col"] {
    background-color: #696969;
    color: #fff;
}

th[scope="row"] {
    background-color: #d7d9f2;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}

html,body{
    margin:0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align:center;
	
}

header{
	text-align:center;
	padding-top:1em;
}

main{
    width: 100%;
	padding-bottom:5em;
}

footer a {
	text-decoration:none;
}



/* CETTE PARTIE CONTIENT LE STYLE POUR L'IMAGE ET LE TITRE DU SITE **********************************************************/
.divPhoto{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}

.img_accueil {
    display: flex;
    text-align: center;
    margin: auto;
    width: 100%;
}

.TitreDyn{
    color: white;
    position: absolute;
    margin-top: 20%;
    font-size: 100px;
    text-align: center;
}

.pickline{
    color: rgb(85, 85, 85);
    text-align: center;
}
/* FIN DE LA PARTIE DE STYLE POUR L'IMAGE ET LE TITRE DU SITE  **********************************************************/

/* PARTIE SUR LA SECTION A PROPOS DU SITE *********************************************/


.divAPropos{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.divGauche{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    background-color: rgb(70, 70, 70);
    color: white;
    margin: 5%;
    padding: 5%;
    border-radius: 5%;
    transition: 1s;
}

.divGauche:hover{
    background-color: rgb(199, 199, 199);
    color: rgb(70, 70, 70);
}

.divCentre{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(70, 70, 70);
    color: white;
    margin: 5%;
    padding: 5%;
    border-radius: 5%;
    transition: 1s;

}
.divCentre:hover{
    background-color: rgb(199, 199, 199);
    color: rgb(70, 70, 70);
}

.titrePropos{
    margin: auto;
}

.titreSection{
    color: rgb(85, 85, 85);
    text-align: center;
    margin-top: 5%;
    font-size: 50px;

}

.navbar{
	
	justify-content:center;
    background-color: rgb(70, 70, 70);
    padding: 0.5%;
    margin-top: 2%;
    margin-bottom: 2%;
	position:sticky;
	top:0;
	z-index:2;
}
.sticky-decoration{
	
	box-shadow:0 10px 10px grey;
}
.navbar ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

.navbar ul a{
    display: flex;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 2%;
    transition: 1s;
}

.navbar ul a:hover{
    color: rgb(70, 70, 70);
    background-color: white;
}

/*FOOTER*/

#footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    background-color: rgb(70, 70, 70);
    color: white;
    width:100%;
	position: fixed;
   left: 0;
   bottom: 0;
   text-align: center;
   padding: 1em 0; 
    
}

#footer a{
    
    color: white;
}
